<div class="container mx-auto grid  grid-cols-1 md:grid-cols-12 gap-6">
  <div [style]="{ 'background-image': 'url(' + mockupData[0].img + ')' }"
    class="h-[540px] bg-cover bg-bottom md:col-span-3 rounded-[var(--second-radius)]"></div>

  <!-- Carousel Container -->
  <div class="md:col-span-9 h-[540px]"><app-best-gift-carousel [sliders]="mockupData[1]"></app-best-gift-carousel></div>

  <div [style]="{ 'background-image': 'url(' + mockupData[2].img + ')' }"
    class="h-[272px] bg-cover bg-bottom md:col-span-4 rounded-[var(--second-radius)]">03</div>
  <div [style]="{ 'background-image': 'url(' + mockupData[3].img + ')' }"
    class="h-[272px] bg-cover bg-bottom md:col-span-4 rounded-[var(--second-radius)]">04</div>
  <div [style]="{ 'background-image': 'url(' + mockupData[4].img + ')' }"
    class="h-[272px] bg-cover bg-bottom md:col-span-4 rounded-[var(--second-radius)]">05</div>
</div>