<nav class="border-b-2 border-gray-300">
    <div class="w-11/12 mx-auto py-4 flex items-center justify-between">
        <div class="cursor-pointer" [routerLink]="['/home']">
            <img src="assets/images/logo.png" alt="Rose Commerce Logo">
        </div>
        <ul class="hidden md:flex flex-row gap-x-6 text-mainText font-semibold">
            <li class="cursor-pointer" [routerLink]="['/home']" routerLinkActive="text-mainBg">Home</li>
            <li class="cursor-pointer" [routerLink]="['/category']" routerLinkActive="text-mainBg">All Category</li>
            <li class="cursor-pointer" [routerLink]="['/about']" routerLinkActive="text-mainBg">About</li>
            <li class="cursor-pointer" [routerLink]="['/contact']" routerLinkActive="text-mainBg">Contact</li>
        </ul>
        <div class="flex gap-x-4">
            <button class="cursor-pointer">
                <img class="w-20px h-20px" src="assets/icons/search.png" alt="Search Icon">
            </button>
            <button class="cursor-pointer">
                <img class="w-20px h-20px" src="assets/icons/heart.png" alt="Heart Icon">
            </button>
            <button class="cursor-pointer">
                <img class="w-20px h-20px" src="assets/icons/bag.png" alt="Bag Icon">
            </button>
            <button class="cursor-pointer md:hidden" (click)="toggleNavbar()">
                <img class="w-20px h-20px" src="assets/icons/navbar.png" alt="Navbar Icon">
            </button>
        </div>
        @if (showNavbar()) {
            <div class="absolute top-0 left-0 w-8/12 p-4 bg-white z-20">
                <div class="w-full flex justify-between">
                    <img src="assets/images/logo.png" (click)="toggleNavbar()" alt="">
                    <button class="cursor-pointer border-2 border-gray-200 rounded-full w-12 h-12" (click)="toggleNavbar()">
                        <i class="fa-solid fa-x text-mainText text-xl"></i>
                    </button>
                </div>
                <ul class="flex flex-col my-4 gap-y-6 text-mainText font-semibold">
                    <li class="cursor-pointer" (click)="toggleNavbar()" [routerLink]="['/home']" routerLinkActive="text-mainBg">Home</li>
                    <li class="cursor-pointer" (click)="toggleNavbar()" [routerLink]="['/category']" routerLinkActive="text-mainBg">All Category</li>
                    <li class="cursor-pointer" (click)="toggleNavbar()" [routerLink]="['/about']" routerLinkActive="text-mainBg">About</li>
                    <li class="cursor-pointer" (click)="toggleNavbar()" [routerLink]="['/contact']" routerLinkActive="text-mainBg">Contact</li>
                </ul>
            </div>
            <div (click)="toggleNavbar()" class="bg-black opacity-50 absolute top-0 bottom-0 right-0 left-0 z-10">
            </div>
        }
    </div>
</nav>