<form  *ngIf="isForgetpassSign"  [formGroup]="forgetpasswordForm" (submit)="ForgetpassSign(forgetpasswordForm)">
    <div id="forget-password">
        <h2 class="text-3xl leading-9">Forgot Your Password ?</h2>
    <div class="flex gap-6 flex-col mt-8">
        <app-input formControlName="email" [type]="'email'" [placeholder]="'Email Or Phone Number'"></app-input>
    </div>
   
    <button class="mt-6 text-white py-3 rounded-[30px] w-full bg-[var(--main-color)] " >Recover Password</button>
    </div>
</form>

<form *ngIf="isCodeSign"  [formGroup]="resetCodeForm" (submit)="CodeSign(resetCodeForm)">
    <div  id="send-code">
        <h2 class="text-3xl leading-9">Verify Code</h2>
    <div class="flex gap-6 flex-col mt-8">
        <app-input formControlName="resetCode" [type]="'Number'" [placeholder]="'Enter Code'"></app-input>
    </div>
    <h3 class="text-[#313131] tracking-normal text-end mt-6 leading-5">Didn’t receive a code<span
        class="font-semibold text-[var(--main-color)] underline" (click)="resendEmail()" >Resend</span></h3>
    <button class="mt-6 text-white py-3 rounded-[30px] w-full bg-[var(--main-color)] " >Recover Password</button>
    </div>
</form>

<form *ngIf="isConfirmpassSign"  [formGroup]="newPasswordForm" (submit)="forgetpassword(newPasswordForm)">

    <div id="forget-password">
        <h2 class="text-3xl leading-9">Set a Password</h2>
    <div class="flex gap-6 flex-col mt-8">
        <app-input formControlName="newPassword" [type]="'password'" [placeholder]="'Create Password'"></app-input>
        <app-input formControlName="rePassword" [type]="'password'" [placeholder]="'Re-enter Password'"></app-input>
    </div>
   
    <button class="mt-6 text-white py-3 rounded-[30px] w-full bg-[var(--main-color)] " >Set a Password</button>
    </div>
</form>