<div class="child  bg-[#FEEDF7] p-2 flex rounded-xl ">
    <div class="">
        <div [class]="category.width +' '+ category.height + '  rounded-full flex justify-center items-center bg-[#F82BA9]'">
            <img [src]="category.img" class="w-2/3" alt="" >
        </div>
    </div>
    <div class="  ps-3 flex justify-center  flex-col">
        <h4 class="blue-color font-18 font-semibold">{{category.name}}</h4>
        <p class="gray-color font-16">{{category.count}} items</p>
    </div>
</div>