<section class="container mx-auto">
    <div class="rounded-2xl bg-[#FEEDF7] mt-16 grid  md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 mx-auto p-4">
        <app-category [category]="{ img: './imgs/Icon(5).png', name: 'Free Delivery', count: 'Orders Over $120' , width: 'w-14' , height:'h-14'}"></app-category>
        <app-category [category]="{ img: './imgs/Icon(1).png', name: 'Get Refund', count: 'Within 30 Days Returns' , width: 'w-14' , height:'h-14'}"></app-category>
        <app-category [category]="{ img: './imgs/Icon(2).png', name: 'Safe Payment', count: '100% Secure Payment' , width: 'w-14' , height:'h-14'}"></app-category>
        <app-category [category]="{ img: './imgs/Icon(3).png', name: '24/7 Support', count: 'Feel Free To Call Us' , width: 'w-14' , height:'h-14'}"></app-category>
    </div>
</section>