<form [formGroup]="registerForm" (submit)="register()">
    <h2 class="text-3xl leading-9">Create account</h2>
    <div class="flex gap-6 flex-col mt-8">
        <app-input formControlName="firstName" [type]="'text'" [placeholder]="'First Name'"></app-input>
        <app-input formControlName="lastName" [type]="'text'" [placeholder]="'Last Name'"></app-input>
        <app-input formControlName="phone" [type]="'text'" [placeholder]="'Phone Number'"></app-input>
        <app-input formControlName="email" [type]="'email'" [placeholder]="'Email'"></app-input>
        <app-input formControlName="password" [type]="'password'" [placeholder]="'Password'"></app-input>
        <app-input formControlName="rePassword" [type]="'password'" [placeholder]="'Confirm Password'"></app-input>
    </div>
    <h3 class="text-[#313131] tracking-normal text-center mt-6 leading-5">Already have an account? <span
            class="font-semibold text-[var(--main-color)] underline" >Login</span></h3>
    <button class="mt-6 text-white py-3 rounded-[30px] w-full bg-[var(--main-color)] ">Create Account</button>
</form>