<form [formGroup]="registerForm" (submit)="register()">
    <h2 class="text-3xl leading-9">Create account</h2>
    <div class="flex gap-6 flex-col mt-8">
        <input formControlName="firstName" type="text"
            class="rounded-[20px] focus:outline-none shadow text-gray-950 text-base leading-8 block w-full p-2 appearance-none border"
            placeholder="First Name" />
        <input formControlName="lastName" type="text"
            class="rounded-[20px] focus:outline-none shadow text-gray-950 text-base leading-8 block w-full p-2 appearance-none border"
            placeholder="Last Name" />
        <input formControlName="phone" type="text"
            class="rounded-[20px] focus:outline-none shadow text-gray-950 text-base leading-8 block w-full p-2 appearance-none border"
            placeholder="Phone Number" />
        <input formControlName="email" type="text"
            class="rounded-[20px] focus:outline-none shadow text-gray-950 text-base leading-8 block w-full p-2 appearance-none border"
            placeholder="Email" />
        <input formControlName="password" type="text"
            class="rounded-[20px] focus:outline-none shadow text-gray-950 text-base leading-8 block w-full p-2 appearance-none border"
            placeholder="Password" />
        <input formControlName="rePassword" type="text"
            class="rounded-[20px] focus:outline-none shadow text-gray-950 text-base leading-8 block w-full p-2 appearance-none border"
            placeholder="Confirm Password" />
    </div>
    <h3 class="text-[#313131] tracking-normal text-center mt-6 leading-5">Already have an account?  <span
            class="font-semibold text-[var(--main-color)] underline ">Login</span></h3>
    <button class="mt-6 text-white py-3 rounded-[30px] w-full bg-[var(--main-color)] ">Create Account</button>
</form>