@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #f82ba9;
  --second-color: #feedf7;
  --third-color: #8c52ff;
  --text-main-color: #160e4b;
  --text-second-color: #757f95;
  --text-third-color: #f05454;
  --text-fourth-color: #dee2e6;
  --radius: 1.25rem; // 20px
  --second-radius: 0.875rem; // 14px
}