@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-color: #F82BA9
    --second-color: #FEEDF7
    --third-color: #8C52FF
    --text-main-color:#160E4B
    --text-second-color: #757F95
    --text-third-color: #F05454
    --text-fourth-color: #DEE2E6
    --radius: 1.25rem //20px
}